PORT=43002
ADMIN_USERNAME=admin
ADMIN_PASSWORD=请替换为强密码
GATEWAY_ADMIN_SECRET=请替换为至少32位随机密钥
DJANGO_SECRET_KEY=请替换为至少32位随机密钥
CREDENTIAL_ENCRYPTION_KEY=请替换为至少32位随机密钥



DJANGO_ALLOWED_HOSTS=你的域名,django,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://你的域名
DJANGO_CSRF_COOKIE_SECURE=true
ALLOW_REGISTER=false

CLOUDFLARE_TURNSTILE=disable
CLOUDFLARE_TURNSTILE_SITE_KEY=
CLOUDFLARE_TURNSTILE_SECRET_KEY=
CF_BYPASS_HEADLESS=true
CF_BYPASS_PROXY_SERVER=可以填写你的代理/也可以不写
